apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-3d-system
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: ai-3d-system
  template:
    metadata:
      labels:
        app: ai-3d-system
    spec:
      containers:
      - name: ai-3d-system
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 5000
        resources:
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
